$font-family: "Barlow Semi Condensed", sans-serif;

$white: #fff;
$very-dark-grayish-blue: #48556a;
$moderate-violet: #733fc8;
$light-violet: #a775f1;
$very-dark-blackish-blue: #19202d;
$light-gray: #cfcfcf;
$light-grayish-blue: #ecf2f8;

$graduate-opacity: 50%;
$paragraph-opacity: 70%;

$border-radius: 0.5em;
